[submodule "hardware/robotis_library"]
	path = hardware/robotis_library
	url=https://github.com/poppy-project/Robotis-library
[submodule "hardware/head"]
	path = hardware/head
	url = https://github.com/poppy-project/Poppy-minimal-head-design.git
	branch = update_for_XU4
[submodule "hardware/upper_limbs"]
	path = hardware/upper_limbs
	url = https://github.com/poppy-project/Poppy-basic-arms
[submodule "hardware/torso"]
	path = hardware/torso
	url = https://github.com/poppy-project/Poppy-multiarticulated-torso.git
[submodule "hardware/support"]
	path = hardware/support
	url = https://github.com/poppy-project/robot-support-toolbox.git
